/* style and theme CSS */

main{
	max-width: 120.0rem;
    margin: 0 auto;
  


}

/* chaque section */
/* code couleur */
:root{
	--title-header: rgba(200,0,0,1);
}
section{
	position: relative;
 	display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff url() 0 0 no-repeat;
    z-index: 1;
    
	

}
.gelery-head-presentation{
	background: #fff url(../asset/pexels-photo-374705.jpeg)no-repeat fixed center center / cover;
	height: 100vh;
	padding-bottom: 2.0rem;
	

}

	main header, 
	.gelery-head-presentation p,
	section nav,

	.gelery-head-presentation h3, 
	.gelery-head-presentation h2{
	width: 100%;
	
	padding: 1.0rem; 
}
main header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 20;

}
main header h1 strong{
	color: var(--title-header);
}
section nav{ /* cette est commune à toutes les section */
	background: #fff url() 0 0 no-repeat;
	display: none;


}
section p{
	width: 100%;
	padding: 0 1.0rem;
}
section nav ul{
	line-height: 2.5rem;

}
section nav ul li{
	margin-bottom: 0.1rem;
	text-transform: uppercase;



}
main header .burger{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
main header h1{
	text-align: right;
	line-height: 4.5rem;
	font-size: 2rem;
}
.gelery-head-presentation{
	position: relative;
}
.gelery-head-presentation aside{
	position: absolute;
	bottom: 1.0rem;
	left: 0;
	width: 100%;
}
.gelery-head-presentation aside p{
	line-height: 2.5rem;
}
/* pictures */

.gelery-pictures-presentation figure{
	display: flex;
	flex-direction: row;
	padding: 1.0rem;
	margin-bottom: 1.0rem;

}
/* alignement d'éléménts */
.gelery-pictures-presentation figure img{
	display: block;
}
.gelery-pictures-presentation figure img,
.gelery-pictures-presentation figcaption{
	
	width: 50%;
	
	margin-right: 1.0rem;
}

.gelery-pictures-presentation figcaption{
	margin: 0;
	color: #636e72;
}
.gelery-pictures-presentation figcaption h2{
	font-size: 1.9rem;

}
.gelery-pictures-presentation footer{
	width: 100%;
}

/* gelery exhibition */
.gelery-exhibition h2, .gelery-exhibition h3{
		width: 100%;

		

}
.gelery-exhibition{
	padding: 4.0rem 1.0rem 4.0rem 1.0rem;


}
.gelery-exhibition .pictures{
	width: 100%;
}
.gelery-exhibition p{
	margin-top: 4.0rem;
	line-height: 2.5rem;
	padding: 0;
}
.gelery-exhibition .exhibition-carousel-text-center{
	text-align: center;
	font-size: 1.4rem;
}
.gelery-exhibition .galery-exhibition-text-left{
	padding-bottom: 2.5rem;
	margin: 0;
}
.gelery-exhibition .galery-exhibition-text-justify{
	text-align: justify;
	color: #999;
}
.gelery-exhibition p .galery-exhibition-btn-inquire{
	display: block;
	border: solid 0.1rem #b2bec3;
	line-height: 3.5rem;
	text-align: center;
	margin:0  auto;
	max-width: 13rem;
	color: #b2bec3;

}
.gelery-exhibition h2{
	padding-bottom: 2.0rem;

}
.gelery-exhibition .exhibition-more{
	margin-top: 2.0rem;
	color: #999;
}
.gelery-exhibition .pictures img, .gelery-exhibition li img{
	display: block;
	width: 100%;
}

.gelery-exhibition li{
	display: inline-block;
	margin-right: 1.0rem;
	width: calc(100% / 4 - 1.0rem);

}
.gelery-exhibition ul{
	padding-top: 2.0rem;
	text-align: center;
}
.gelery-exhibition li:last-child{
	margin: 0;
}

/* form zone */
.gelery-exhibition .form{
	width: 100%;
	padding: 2.0rem 0;
	text-align: center;

}
.gelery-exhibition .form input, .gelery-exhibition .form textarea{
	border: solid 0.1rem #b2bec3;
	display: block;
	width: 100%;
	line-height: 2.5rem;
	margin-bottom: 1.0rem;
	resize: none;
	color: #b2bec3;
	font-size: initial;
	padding: 1.0rem;
}
.gelery-exhibition .form textarea{
	height: 9.0rem;
	padding: 1.0rem;
	overflow-y: auto;
	overflow-x: hidden;
}
.gelery-exhibition .form input[type="submit"],
.gelery-exhibition .form input[type="reset"]{
	display: inline-block;
	background: #fff url() 0 0 no-repeat;
	border: 0;
	max-width: 7rem;
}
.gelery-exhibition .form input::placeholder{
	text-align: center;
	color: #b2bec3;
}

/* footer info general */
main footer{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: 1.0rem;
	width: 100%;
	background: #222 url() 0 0 no-repeat;
}
main footer ul li{
	display: inline-block;
	width: calc(100% / 2);
	vertical-align: top;

}
main footer ul li p{
	font-size: 1.2rem;
	margin-bottom: 1.0rem;
	color: #fff;
}
main footer ul li+li{
	text-align: right;
}
